#navigation {
  display: inline;
  background-color: aqua;
  text-align: center;
  text-decoration: underline;
}
.nav-links {
  margin: 20px;
  background-color: aquamarine;
  padding: 10px;
}
#image--link {
  display: flex;
  justify-content: center;
}
#image {
  height: 50vh;
}
